@{
    ViewBag.Title = "Contact";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->

<section class="section white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="appoform-wrapper">
                    <header class="form-header">
                        <h3>Find on Map</h3>
                    </header>
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13643.39137454183!2d34.7906048!3d31.2526352!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sil!4v1514305507407" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="appoform-wrapper">
                    <div id="message"></div>
                    <form id="contactform" action="contactUs" name="contactform" method="post">
                        <header class="form-header">
                            <h3>Contact Form</h3>
                        </header>
                        <div class="post-body-form text-center">
                            <p>
                                In order to provide better service to you, PetVet Veterinary<br> Clinic
                                It is working with the appointment system. Please fill in the<br> following form completely.
                            </p>
                        </div>
                        <fieldset class="row-fluid appoform">
                            <div class="col-md-12">
                                <label class="sr-only">Your name</label>
                                <input required type="text" name="name" id="name" class="form-control" placeholder="Name *">
                            </div>
                            <div class="col-md-12">
                                <label class="sr-only">Email address</label>
                                <input required type="email" name="email" id="email" class="form-control" placeholder="Email *">
                            </div>
                            <div class="col-md-12">
                                <textarea required class="form-control" name="comments" id="comments" rows="6" placeholder="Extra notes.."> </textarea>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" value="SEND" id="submit" class="btn btn-primary btn-block">Send Message</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>