@model mvc_project.Models.User
@{ ViewBag.Title = "Login";
}
<h2>Login</h2>

<div id="preloader" style="display:none"></div>



<section class="section grey">
    <div class="container">
        <div class="general-title text-center">
            <form id="login_form" class="form-horizontal" action="Authorization" method="post">
                <fieldset>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="login">Login</label>
                        <div class="col-md-6"><input id="login" class="form-control input-md" name="login" required="" type="text" placeholder="login" /></div>
                    </div>
                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="password">Password</label>
                        <div class="col-md-6"><input id="password" class="form-control input-md" name="password" required="" type="password" placeholder="password" /> </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="submit"></label>
                        <div class="col-md-4"><button id="submit" class="btn btn-primary" name="submit">Log me in</button></div>
                    </div>
                </fieldset>

            </form>
            <p></p><div style="color:red;font-size:18px">@ViewBag.Error</div>
            <p>Still not registered?</p><p>@Html.ActionLink("Register Now and get BONUS!", "Registration", "User")</p>
        </div>
    </div>
</section>


<script>
    $("#login_form").submit(function () { $("#preloader").fadeIn(); });
</script>
