@model mvc_project.Models.Order

@{
    ViewBag.Title = "Cart";
}

<section class="section white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post" class="shopform">
                    <div class="table-responsive margin-top">
                        <table id="cart-table" class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Image</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quanity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="product-remove">
                                        <a class="remove" title="Remove this product" href="#">×</a>
                                    </th>
                                    <th>
                                        <div class="media">
                                            <div class="relative">
                                                <a href="shop-single.html" title="">
                                                    <img src="~/Content/shop/xshop_01.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <a href="#">Big Vanillia Color - #000455</a>
                                    </th>
                                    <td>$21.00</td>
                                    <td>
                                        5
                                    </td>
                                    <td>
                                        $21.00
                                    </td>
                                </tr>
                                <tr>
                                    <th class="product-remove">
                                        <a class="remove" title="Remove this product" href="#">×</a>
                                    </th>
                                    <th>
                                        <div class="media">
                                            <div class="relative">
                                                <a href="shop-single.html" title="">
                                                    <img src="~/Content/shop/xshop_02.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <a href="#">Custom Color Bluz - #2212344</a>
                                    </th>
                                    <td>$21.00</td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        $21.00
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <hr class="invis">
                <div class="checkout row">
                    <div class="col-md-12 text-center">
                        <a href="#" class="btn btn-default">UPDATE CART</a> <a href="shop-checkout.html" class="btn btn-primary">PROCEED TO CHECKOUT</a> <a href="categories.html" class="btn btn-default">CONTINUE SHOP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

