@model mvc_project.Models.ShopItem

@{
    ViewBag.Title = "SingleItem";
}

<div id="content" class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="product-images">
                <a data-rel="prettyPhoto" href="~/Content/shop/xshop_01.jpg" title="">
                    <img class="img-polaroid" src="~/Content/shop/xshop_01.jpg" alt="">
                </a>
                
            </div>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="shop-desc">
                <h3>T90 Cat Home Cortes </h3>
                <small>$21.00</small>
               
                <p>Lorem iam nonummy nibh euismod tincidunt ut laoreet dolore Lorem ipsum dolor sit amet orem iam nonummy nibh euismod tincidunt ut laoreet dolore Lorem ipsum dolor sit amet nibh euismod tincidunt ut laoreet dolore Lorem ipsum dolor sit amet orem iam nonummy nibh euismod tincidunt ut laoreet dolore Lorem ipsum dolor sit amet..</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
               
  
            </div>
        </div>
    </div>
    <hr class="invis">
 
</div>

